* {

    color: black;
    margin: 0px;
    padding: 0px;
    list-style-type:None;
    text-decoration: None;
}
html {
    height: 100%
}
body{
    height: 100%;
    width: 100%;
}
.text-center{
    text-align: center;
}
.text-left{
    text-align: left;
}
.text-right{
    text-align: right;
}
.flex{
    display: flex;
}
.flex-col{
    flex-direction: column;
}
.flex-spacearound{
    justify-content: space-around;
}
.flex-center{
    justify-content: center;
    align-items: center;
}
.sizefull{
    height: 100%;
}
nav ,footer {
    background-color: aquamarine;
    padding: 10px;
}
.bgred{
    background-color: red;
}
.background{
    background-image: url("../img/bg.jpg");
    background-size: cover;
    height: 100%;
    width: 100%;
    opacity: 0.9;
}
.card{
    background: rgba(244, 241, 241, 0.7);
    box-shadow: 5px 1px 33px -1px rgba(0, 0, 0, 0.25);
    margin: 10px;
}
.product-card ,.request-card{

    width: 500px;
    height: fit-content;
    
    align-items: center;
}
.product-img{
    height: 150px;
    width: 150px;
}
.product,.request{
    width: 50%;
    height: 250px;
}
.product>div ,.request>div{
    padding: 10px;
}
.product-title ,.request-number{
    font-size: 20px;
    margin-top: 30px;
    text-decoration: underline;
    font-weight: bold;
}
.product-desc ,.request-note{
    text-overflow: ellipsis;    
    height: 20%;
    overflow: hidden;
}
.aboutus-card , .contactus-card{
    padding: 30px;
    margin: 50px;
}
.aboutus-card>div , .contactus-card>div>div{
    margin-top: 25px;
}
.contact{
    justify-content: space-between;
}
.contactleft{
    width: 30%;
}
.contactright{
    width: 70%;
}