* {


    margin: 0px;
    padding: 0px;
    list-style-type:None;
    text-decoration: None;
}

@font-face {
    font-family: 'ethnocentric';
    src: url("../font/ethnocentric rg.ttf");
    
 }
 @font-face {
    font-family: 'sono';
    src: url("../font/Sono-Medium.ttf");
    
 }
textarea:focus, input:focus{
    outline: none;
}
input[type=search]{
    -moz-appearance: none;/* older firefox */
    -webkit-appearance: none; /* safari, chrome, edge and ie mobile */
    appearance: none; /* rest */
 }
html {
    height: 100%
}
body{
    color: black;
    height: 100%;
    width: 100%;
    font-family: 'sono','Raleway', sans-serif;
    
}
/*
font-family: 'Roboto Slab', serif;
*/
.text-center{
    text-align: center;
}
.text-left{
    text-align: left;
}
.text-right{
    text-align: right;
}
.flex{
    display: flex;
}
.flex-col{
    flex-direction: column;
}
.flex-spacearound{
    justify-content: space-around;
}
.flex-center{
    justify-content: center;
    align-items: center;
}
.sizefull{
    height: 100%;
}
.scrolly{
    overflow-y: scroll;
}
.widthfull{
    width: 100%;
}
nav ,footer {
    background-color: #151617;
    padding: 10px;
    font-family: 'Roboto Slab', serif;
}
nav,footer ,nav>ul>li>a{
    
    color: #dddfd4 ;
    font-size: 14px;
}
nav>ul>li{
   align-self: center;
   font-family: "ethnocentric";
   
}
.searchbox{
    width: 40%;
}
.bgred{
    background-color: red;
}
.colorwhite{
    color: #dddfd4;
}
.errortext{
    color: rgb(255, 73, 73);
}
.linktext{
    color: blue;
    text-decoration: underline;
}
.textgrey{
    color: grey;
}
.background{
    background-image: url("../img/background.jpg");
    background-size: cover;
    height: 100%;
    width: 100%;
    opacity: 0.9;
}
.card{
    background: rgba(244, 241, 241, 0.7);
    box-shadow: 5px 1px 33px -1px rgba(0, 0, 0, 0.25);
    margin: 10px;
}
.product-card ,.request-card{

    width: 500px;
    height: fit-content;
    
    align-items: center;
}
.product-img{
    height: 150px;
    width: 150px;
}
.product,.request{
    width: 50%;
}
.request{
    height: 250px;
}
.product>div ,.request>div{
    padding: 10px;
}
.product-title ,.request-number{
    font-size: 14px;
    font-family: "ethnocentric";
    margin-top: 30px;
    text-decoration: underline;
    font-weight: bold;
}
.product-desc ,.request-note{
    text-overflow: ellipsis;    
    height: 20%;
    overflow: hidden;
}
.aboutus-card , .contactus-card{
    padding: 30px;
    margin: 50px;
}
.aboutus-card>div , .contactus-card>div>div{
    margin-top: 25px;
}
.contact{
    justify-content: space-between;
}
.contactus-title{
    font-family: "ethnocentric";
    font-size: 14px;
}
.contactleft{
    width: 30%;
}
.contactright{
    width: 70%;
}
.tab{
    font-family: "ethnocentric";
    font-size: 14px;
    border-bottom: 1px solid black;
    border-left: 1px solid black;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 20px;
}
.search{
    height: 9%;
    
}

.searchbar{
    outline: none;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    font-size: large;   
}
.searchbutton{
    border-radius: 0px;
    border: none;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    width: 15%;
    background-color: #F2AA4C;
    
}
.svg-icon.search-icon {
    display: inline-block;
    width: 70%;
    height: 70%;
}  